{%extends 'layouts/layout.html'%}
{% block content %}
{% include 'common/navbar_manager.html' %}
<h1 style="text-align: center;">Add Dish</h1>
<div class="container"> 
    <ul>   
        {% for message in messages %}  
                    <li style="color: red; font-weight: bold">{{ message }}</li>  
        {% endfor %}  
    </ul> 
    <form class="col s12" action="{% url 'add-dish' %}" method="POST" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="name" placeholder="Dish Name">
                {% for error in form.name.errors %}
                    <div>{{error}}</div><br>
                {% endfor %}
            </div>
            <div class="input-field col s12">
                <input type="number" name="price" placeholder="Price" min="1">
                {% for error in form.price.errors %}
                    <div>{{error}}</div><br>
                {% endfor %}
            </div>
            <div class="input-field col s12">
                <textarea name="description" placeholder="Description"></textarea>
            </div>
            <div class="input-field col s12">
                <textarea name="image" placeholder="Image Relative Path"></textarea>
            </div>
            <p>
                <label>
                  <input type="checkbox" class="filled-in" name="is_gluten_free"/>
                  <span>Is Gluten Free</span>
                </label>
            </p>
            <p>
                <label>
                  <input type="checkbox" class="filled-in" name="is_vegeterian"/>
                  <span>Is Vegeterian</span>
                </label>
            </p>
            <select class="browser-default" name="category_id" >
              <option value="" disabled selected>Choose Dish Category</option>
              {% for category in categories %}
              <option value="{{category.id}}">{{category.name}}</option>
              {% endfor %}
            </select>
            <button type="submit" class="waves-effect waves-light btn">Add Dish</button>
        </div>
    </form>
</div>
{% endblock content %}