{%extends 'layouts/layout.html'%}
{% block content %}
{% include 'common/navbar_manager.html' %}

<h1 style="text-align: center;"> Edit and Delete Dishes</h1>

<div class="container">
    <ul>   
        {% for message in messages %}  
            {% if 'success' == message.tags %}  
                    <li style="color: green; font-weight: bold">{{ message }}</li>    
            {% endif %} 
        {% endfor %}  
    </ul> 
    <table class="striped centered">
        <thead>
          <tr>
              <th>Category Name</th>
              <th>Dish Name</th>
              <th>Price</th>
              <th>Description</th>
              <th>Dish Image</th>
              <th>Is Gluten Free</th>
              <th>Is Vegeterian</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                {% for dish in category.dish_set.all %}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{dish.name}}</td>
                        <td>{{dish.price}}$</td>
                        <td>{{dish.description | linebreaks}}</td>
                        <td><img src="{{dish.image}}" alt="{{dish.name}}"></td>
                        {% if dish.is_gluten_free %}
                            <td>Yes</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        {% if dish.is_vegeterian %}
                            <td>Yes</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        <td>
                            <form action="{% url 'edit-dish' id=dish.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="waves-effect waves-light btn">Edit</button>  
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'delete-dish' id=dish.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="waves-effect waves-light btn">Delete</button>  
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}